.buttonCopy {
    height: 2rem;
    width: 13rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: hsl(180, 66%, 49%);
    border: none;
    border-radius: 5px;
    color: white;
}

.buttonCopy:hover {
    background-color: hsl(180, 66%, 44%);
}

.buttonCopy:active {
    box-shadow: inset 0px 0px 50px -2px hsl(180, 66%, 49%);
}

@media screen and (min-width: 56.25rem) {
    .buttonCopy {
        margin: 0 1rem 0 0;
    }
}