.linksHolder {
    width: 15rem;
    height: auto;
}

.linksBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pLink {
    color: hsl(0, 0%, 0%);
    width: auto;
    font-size: 1rem !important;
}

.hr {
    width: 100%;
    background-color: hsl(0, 0%, 88%);
}

.aLink {
    text-align: center;
    padding-top: 5px;
    color: hsl(180, 66%, 49%);
    width: auto;
}