.linksHolder {
    width: 15rem;
    height: auto;
    margin: 0 0 2rem 0;
}

.linksBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pLink {
    width: 100%;
    text-align: center;
    color: hsl(0, 0%, 0%);
}

.hr {
    width: 100%;
    background-color: hsl(0, 0%, 88%);
}

.aLink {
    color: hsl(180, 66%, 49%);
}

.linksFit {
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 5px 0 5px;
}

@media screen and (min-width: 56.31rem) {
    .linksHolder {
        width: 60vw;
    }
    .linksBlock {
        flex-direction: row;
        height: 3rem;
    }
    .pLink {
        width: 100%;
        text-align: left;
        padding: 0 0 0 1rem;
    }
    .hr {
        display: none;
    }
    .aLink {
        width: 100%;
        text-align: right;
        padding: 0 1rem 0 0;
    }
}