.linksHolder {
    width: 15rem;
    height: auto;
}

.linksBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pLink {
    color: hsl(0, 0%, 0%);
    width: 100%;
    height: 100%;
    text-align: center;
}

.hr {
    width: 100%;
    background-color: hsl(0, 0%, 88%);
}

.aLink {
    color: hsl(180, 66%, 49%);
}

.linksFit {
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 5px 0 5px;
}