header {
    display: flex;
    justify-content: center;
    width: 90vw;
}

.siteNav {
    display: grid;
    width: 80vw;
    height: 25rem;
    grid-template-columns: 7rem auto auto auto auto auto;
    grid-template-rows: 3.5rem 1fr;
    background-image: url(../../images/illustration-working.svg);
    background-repeat: no-repeat;
    background-size: 380px auto;
    background-position: center;
}

.logo {
    margin-top: 1.3rem;
    width: 80px;
    height: 20px;
}

.menuBar {
    grid-area: 1/6/2/7;
    color: rgb(134, 134, 134);
    justify-self: flex-end;
    margin-top: 1.5rem;
    margin-right: 1rem;
    width: 18px;
    transition: 0.5s;
}

.menuBar:hover {
    transform: scale(1.2);
}

@media screen and (min-width: 56.31rem) {
    .siteNav {
        background-position: right;
        background-size: 420px auto;
    }
    .menuBar {
        display: none;
    }
}