.head {
    display: flex;
    justify-content: center;
    width: 100%;
}

.head h2 {
    font-size: 2rem;
    width: 15rem;
    text-align: center;
    color: hsl(257, 27%, 26%);
}

@media screen and (min-width: 56.25rem) {
    .head {
        justify-content: flex-start;
        padding: 0 0 0 5rem;
    }

    .head h2 {
        font-size: 3rem;
        width: 25rem;
        text-align: left;
    }
}