.head {
    display: flex;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
}

.head h2 {
    font-size: 2rem;
    width: 15rem;
    color: hsl(257, 27%, 26%);
}

@media screen and (min-width: 56.31rem) {
    .head {
        justify-content: flex-start;
        width: 60vw;
    }

    .head h2 {
        font-size: 3rem;
        width: 25rem;
    }
}