footer {
    background-color: hsl(260, 8%, 14%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 2rem 0;
}


.position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h2 {
    color: white;
    margin-top: 2rem;
}

footer h4 {
    color: white;
    margin-top: 2rem;
}

footer ul {
    margin-top: 1rem;
    list-style-type: none;
}

footer li {
    font-size: 1rem;
    color: grey;
    text-align: center;
    margin-top: 0.3rem;
}

footer button {
    border: none;
    background-color: transparent;
    color: grey;
    font-size: 1rem;
}

footer button:hover {
    cursor: pointer;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 12rem;
    margin: 2rem 0 2rem 0;
}

.social img {
    width: 2rem;
}

@media screen and (min-width: 56.25rem) {
    .footer_content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 90vw;
    }

    footer h2 {
        width: 10rem;
    }

    .position {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    footer li {
        text-align: left;
    }

    .social img {
        width: 1.5rem;
    }
  }